@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

$head_color: #182e33;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;

    .app-container {
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header {
            display: flex;
            height: 70px;
            background-color: #182e33;
            justify-content: center;
            align-items: center;
        
            .headerText {
                color: #fff;
            }
        }
        .main {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 700px;
            
            .form {
                display: flex;
                margin: 0 auto;
                width: 90%;
                height: 30px;
                justify-content: space-between;

                .inp-cont {
                    width: 80%;
                    height: 100%;
                    display: flex;
                    border: 0.5px solid #b1b1b1;
                    align-items: center;
                    justify-content: space-evenly;

                    .input {
                        width: 85%;
                        height: 95%;
                        border: 0;
                        outline: none;
                    }

                    .clear {
                        width: 25px;
                        height: 25px;
                        background-image: url(./src/img/clear.png);
                        background-size: cover;
                        transition: 0.2s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    .keyboard {
                        width: 50px;
                        height: 25px;
                        background-image: url(./src/img/keyboard.png);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        transition: 0.2s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }

                .submit {
                    width: 19%;
                    transition: 0.2s;
                        &:hover {
                            transform: scale(1.1);
                        }
                }
            }

            .note,
            .note-error {
                width: 90%;
                height: 40px;
                text-align: center;
                font-size: 30px;
                margin: 0 auto;
            }

            .slider {
                display: flex;
                height: 480px;
                flex-wrap: wrap;
                overflow: hidden;
                justify-content: space-evenly;
                
                .card {
                    width: 300px;
                    height: 470px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    visibility: visible;

                    .title {
                        text-decoration: none;
                        color: #000000;
                        font-size: 18px;
                        transition: 0.2s all;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }

                    .poster {
                        height: 70%;
                        object-fit: contain;
                        width: 75%;
                    }

                    &.hide {
                        visibility: hidden;
                    }
                }
                
            }
        }
        .footer {
            height: 70px;
            background-color: #182e33;
        }
        .loader {
            width: 75px;
            height: 75px;
            border: 10px solid #e7e7e7;
            border-radius: 50%;
            border-top-color: #182e33;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            animation: 1s spin infinite linear;
            visibility: visible;

            &.hide {
                visibility: hidden;
                animation: none;
            }
        }
    }
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
