@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

$color: #36363691;
$color-button: #f5deb3;

* {
    margin: 0;
    padding: 0;
    border: 0;
}
.app {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

    .app-control {
        width: 90%;
        margin: 20px auto 0;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 1;
    }
    .control-left {
        display: flex;
        width: 55%;
        justify-content: start;

        .change-lang {
            width: 120px;
            height: 40px;
            background-color: $color;
            color: #fff;
            border-radius: 5px;
            margin-right: 10px;
            font-size: 22px;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                transform: scale(1.1);
            }
        }

        .change-image {
            .icon-change {
                width: 100%;
                height: 100%;
                background-image: url(../img/change.png);
            }
        }

        .change-image,
        .change-units {
            width: 40px;
            height: 40px;
            background-color: $color;
            border-radius: 5px;
            margin-right: 10px;
            font-size: 22px;
            text-align: center;
            line-height: 40px;
            transition: 0.2s;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
            &.active {
                transform: scale(1.1);
                background-color: #009999;
            }
        }
    }
    .search {
        width: 42%;
        height: 40px;
        border-radius: 5px;
        display: flex;
        .input {
            color: #fff;
            flex-grow: 1;
            background-color: $color;
            border-radius: 5px;
            padding-left: 10px;
            &::placeholder {
                color: #fff;
            }
        }
        .submit {
            width: 100px;
            border-radius: 5px;
            background-color: #363636b6;
            margin-left: 5px;
            color: #fff;
        }
    }

    .app-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: 10px auto;
    }
    .app-weather {
        margin: 10px auto 10px 0;
        width: 55%;
        min-height: 700px;
        background-color: $color;
        border-radius: 10px;
        font-size: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .geo-container {
            margin: 20px 20px ;
            .geo,
            .calendar,
            .time {
                margin: 0 0 10px 20px;
            }
        }
        .weat-now {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            font-size: 30px;
            margin-bottom: 20px;
            .temp-now {
                font-size: 130px;
                margin: 20px 20px;
            }
            .descrip-now {
                font-size: 25px;
                margin: 20px 20px;
            }
            .icon-now {
                background-repeat: no-repeat;
                height: 120px;
            }
        }
        .weather-days {
            font-size: 25px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .day {
                width: 130px;
                margin: 20px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .temp-icon-days {
                    width: 100%;
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;
                }
                .icon-days {
                    width: 40px;
                    height: 40px;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .app-map {
        margin: 10px 0 10px auto;
        width: 42%;
        min-height: 700px;
        background-color: #36363691;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .map {
            width: 90%;
            height: 70%;
            border-radius: 10px;
        }
        .lat-long {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 1040px) {
    .app {
        .app-control {
            .control-left {
                width: 100%;
            }
            .search {
                width: 100%;
                margin-top: 20px;
            }
        }
        .app-container {
            flex-direction: column;

            .app-weather {
                width: 100%;
                font-size: 30px;
            }

            .app-map {
                width: 100%;
            }
        }
    }
}

.spin {
    animation: 1s spin infinite linear;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}